@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,400&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Merriweather';
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(pic.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}

.container {
    background-color: rgb(107, 73, 73);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 20px;
    border-radius: 10px;
}

.container h1 {
    color: white;
}

#title {
    font-size: 1rem;
}

#startBtn, #stopBtn, #resetBtn {
    cursor: pointer;
    border-radius: 4px;
}

#startBtn:hover, #stopBtn:hover, #resetBtn:hover {
    cursor: pointer;
    background-color: rgb(162, 215, 217);
}